DEBUG=True
SECRET_KEY=change-this-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost,.onrender.com
CSRF_TRUSTED_ORIGINS=https://*.onrender.com
DATABASE_URL=mysql://MYSQL_USER:MYSQL_PASSWORD@MYSQL_HOST:3306/MYSQL_DATABASE
